body {
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

h1 {
    font-family: cursive;
}

h2 {
    font-family: cursive;
}

a {
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.post-container {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    border: 1px solid #ffffff;
    /* background-color: rgba(255, 255, 255, .5); */
    background-color: black;
    border-radius: 8px;
    margin: 0px 10px 0px 10px;
    padding: 0px 5px 0px 5px;
}

.post-title {
    border-top: 3px dashed white;
    padding-top: 10px;
}

#first-post {
    border-top: unset;
    padding-top: -10px;
}