body {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    margin-left: 10px;
}

h1 {
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

a {
    text-decoration: unset;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
    color: rgb(0, 61, 244);
}

/* #posts {
    display: flex;
} */

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(220, 0, 0, .5);
    background-color: rgba(155, 0, 0, .5);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    padding: 0px 5px 0px 5px;
    /* width: 500px;
    height: 600px; */
}

.post-title {
    font-style: italic;
}

.post-link-container {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: 1px solid rgba(155, 0, 0, .5);
    background-color: rgba(155, 0, 0, .5);
    border-radius: 8px;
    max-width: 130px;
    padding: 10px 0px 0px 10px

}
